<launch>

  <arg name="waypoint_filename" default="$(find cirkit_waypoint_navigator)/waypoints/2017-01-26-13-15-09.csv" />

  <node name="cirkit_waypoint_navigator_node" pkg="cirkit_waypoint_navigator" type="cirkit_waypoint_navigator_node" output="screen">
    <param name="waypointsfile" value="$(arg waypoint_filename)" />
  </node>

  <node pkg="cirkit_waypoint_generator" name="cirkit_waypoint_server" type="cirkit_waypoint_server" args="--load $(arg waypoint_filename)" output="screen"/>
</launch>
